@charset "utf-8";
/* CSS Document */

.bg
{
	height:609px;
	width:100%;
	background:url(../assets/bg/bg1.jpg);
	background-size:100%;
	
}
.bg-band
{
	height:100%;
	width:100%;
	margin:auto;
	background:url(../assets/bgBand/band.png) no-repeat 0 0;
	background-size:100%;
}

@keyframes fadebg
{
	0%{
		background-image:url(../assets/bg/bg1.jpg)
	}
	30%{
		background-image:url(../assets/bg/bg1.jpg)
	}
	100%
	{
		background-image:url(../assets/bg/bg2.jpg)
	}
}

.bg.change
{
	animation: fadebg 1s;
	background-image:url(../assets/bg/bg2.jpg);
}

