@charset "utf-8";
/* CSS Document */

/* Footer */


.footer {
	background-color: rgba(215,214,9,0.82);
	background-blend-mode: color;
	position: relative;
	z-index: 0;
	top: -75px;
	width: 100%;
	height: 75px;
}

.footname{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.credits{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
